#blo{

   position:absolute;

   top:30%;

   right:50%;

   background-color: aqua;

   align-content: center;

   width:100px;

   height:100px;

   padding:5px;

   display:inlin-block;

   text-align: center;

   font-size: 30px;

}

#dec{

   padding:2px;

    position:absolute;

    border-radius:2px;

   

   top:50%;

   left:38%;

}

#inc{

    position:absolute;

    padding:2px;

     border-radius:2px;

   top:50%;

   left:50%;

}

#res{

    position:absolute;

    padding:2px;

     border-radius:2px;

   top:50%;

   left:43%;

}

